
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

body,
button,
input,
optgroup,
select,
textarea {
	color: #444;
	font-family: 'Source Sans Pro', sans-serif;
	/* font-size: 16px; */
	line-height: 1.5;
}






























































