<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Web site created using create-react-app" />
  <title> SLN </title>

</head>

<body>

  <link rel="stylesheet" type="text/css" href="styles.css" />
  <SCRIPT type="text/javascript" src="compiledScripts/graphql.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="compiledScripts/Test.js"></SCRIPT>
  
  <div id="RootView" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%;">

  </div>

  <SCRIPT type="text/javascript">


    new UICore("RootView", RootViewController);


  </SCRIPT>


</body>